/*home page*/

.links{
	padding-bottom:30px;
}
a{
	text-decoration: none;
}
#openingheader{
	height: 110px;
	padding-top:63px;
}
.starbucksoutreach-link {
	text-decoration: none;
}
.starbucksoutreach{
	color: #7CCCD0;
	font-family: rockwell;
	font-weight: lighter;
	font-size: 4em;
	line-height: 40pt;
}
@media screen and (max-width: 767px) {
	#openingheader{
		padding-top:28px;
	}
	.starbucksoutreach{
		font-size: 2.75em;
		line-height: 34pt;
	}
	.starbucksoutreach > span {
		display: block;
	}
}
.nav-wrapper {
	background:#7CCCD0;
	padding: 15px;
	position: relative;
}
#nav1{
	color: #7CCCD0;
	padding:0;
}
#nav1 a {
	font-family: Coming Soon;
	font-size: 1.3em;
	color:white;
	text-decoration: none;
}
.navspace{
	padding-top: 15px;
}
#nav1 a:hover{
	color:#4855A3;
}
a .homepage:hover{
	color:#4855A3;
}
#nav1 img{
	margin-left: 50px;
}
@media screen and (max-width: 767px) {
	#nav1 a {
		font-size: 1em;
	}
	#nav1 img{
	margin-left: 0px;
	}
	#nav1 a:hover{
	color:#4855A3;
	}
}
.homepagetitle{
	color:#F15B2A;
	font-family: Coming Soon;
	font-size: 1.75em;
	padding-top: 30px;
	font-weight: bold;
	text-shadow: .25px .25px .25px #000000;
}
.no-wrap {
	white-space: nowrap;
}
.homepagesubtitle{
	color: #5FB2B2;
	font-family: rockwell;
	font-size: 1.25em;
	line-height: 1.6em;
	text-shadow: .25px .25px .25px #4855A3;
}
.backgroundhomepage{
	background-image: url(../img/thankyoupic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.homebackcontent{
	background: rgba(255,255,255,.8);
	position: relative;
	display:block;
	padding-top: 50px;
	padding-left: 10px;
}
.openingpara{
	line-height: 2em;
}
@media screen and (min-width: 768px) {
	.homebackcontent{
		width:40%;
		margin-right: 750px;
		padding-left: 10px;
	}
}
@media screen and (max-width: 768px) {
	.homebackcontent{
		width:44%;
		margin-left: 25px;
	}
	.homepagepic{
		padding-top: 10px;
	}
	.homepagetitle{
		font-size: 1.5em;
	}
	.homepagesubtitle{
		font-size: 1em;
		font-weight: regular;
	}
	.openingpara{
	line-height: 1.5em;
	}
}
@media screen and (max-width: 375px) {
	.homebackcontent{
		background: rgba(255,255,255,.9);
		width:95%;
		margin-left: 10px;
	}
}
.linkrow {
	margin-top: 25px;
}
.imglink {
	display:block;
}
@media screen and (min-width: 900px) {
.movelink{
	margin-left: 45px;
	}
}
.whitelinktext{
	color:#4855A3;
	font-family: coming soon;
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: none;
}
.boldlinktext {
	color:#4855A3;
	font-family: rockwell;
	font-size: 1.125em;
}
a .boldlinktext:hover{
	color:#7CCCD0;
}

@media screen and (max-width: 755px) {
	.whitelinktext{
	font-size: .95em;
	}
	.imglink{
	width: 50%;
	margin-left: 75px;
	}
}

/*our story page*/


.orangeheadline{
	font-family: rockwell;
	color:#F15B2A;
	font-size: 1.6em;
	font-weight: bold;
}
.bluedot {
	list-style: none;
	position: relative;
}
.bluedot:before {
	content: '•';
	color:#7CCCD0;
	position: absolute;
	left: -25px;
}
.million{
	padding: 10px;
}
p, ul{
	font-family: avenir;
	color: black;
	font-size: 1.188em;
}
@media screen and (max-width: 767px) {
	#orangeheadline{
		font-size: 1.500em;
	}
	p{
		font-size: 1.188em;
	}
}
.infographic{
	padding-top: 30px;
	background-size: cover;
	padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
	.infographic {
		float: right;
		width: 50%;
		margin-left: 15px;
		margin-bottom: 15px;
	}
}
.numbers{
	background-color: white;
}
.numbers {
	position: relative;
}
.manandseeds{
	padding-bottom: 66.796875%;
	background-image: url(../img/manandseeds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.manandseeds{
		position: absolute;
		top: 0;
		bottom: 0;
	}
}
	.numbers-content {
		background: rgba(255,255,255,.8);
		padding: 25px;
}

/*what is happening to our trees? page*/


@media screen and (max-width: 767px) {
	.rustpics{
		padding-bottom: 10px;
	}
}


/* Responsive iframe for all types of media use 'iframe-responsive' */
/* Responsive youtube video embed 'video-responsive' class is wrapper for youtube iframe */
.video-responsive {
	height: 0;
	padding-bottom: 100%;
	position: relative;
}
/* set the iframe to the same width / height as it's fluid parent container */
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100% !important;
}
/* sizing */
.video-16x9, .video-responsive {
	padding-bottom: 56.25%; /* 16:9 ratio */
}



/*donate now page*/


.backgroundform{
	background-image: url(../img/formpic1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.formback-content {
	background: rgba(255,255,255,.8);
	position: relative;
	display:block;
	}
}
@media screen and (max-width: 768px) {
.formback-content {
	background: rgba(255,255,255,.8);
	padding: 35px;
	}
}
.label{
	font-family: Coming Soon;
	color:#330F36;
	font-size:1em;
}
.orangeheadline {
	font-family: rockwell;
	font-size: 1.2em;
	color:#F15B2A;
}
.orangesubheadline {
	font-family: coming soon;
	font-size: .75em;
	color:#F15B2A;
}
.formheadline {
	font-family: rockwell;
	font-weight: lighter;
	font-size: 1.3em;
	color:#F15B2A;
}
.formtext {
	font-family: Coming Soon;
	font-size: 1em;
	color: #330E36;
}
.forminputs {
	border: 1.5px solid #ccc;
	border-radius: 3px;
	width: 100%;
	font-family: Coming Soon;
	border-radius: 1;
	font-size: 1em;
	color: #4855A3;
	background-color:#7CCCD0;
}
.select {
	border: 1.5px solid #ccc;
	font-family: Coming Soon;
	width:100%;
	font-size: 1em;
	color: #4855A3;
	background-color: #7CCCD0;
}

.cardnumber {
	border: 1.5px solid #ccc;
	font-family: Coming Soon;
	font-size: 1em;
	color:#4855A3;
	width: 65%;
	background-color: #7CCCD0;
}
.securitycode{
	border: 1.5px solid #ccc;
	font-family: Coming Soon;
	font-size: 1em;
	width: 30%;
	color: #4855A3;
	margin-left: 10px;
	background-color: #7CCCD0;
}
.billingstate {
	border: 1.5px solid #ccc;
	font-family: Coming Soon;
	font-size: 1em;
	color: #4855A3;
	width: 45%;
	background-color: #7CCCD0;
}
.billingzip{
	border: 1.5px solid #ccc;
	font-family: Coming Soon;
	font-size: 1em;
	width: 50%;
	color: #4855A3;
	margin-left: 10px;
	background-color: #7CCCD0;
}
.selectmonth {
	border: 1.5px solid #ccc;
	font-family: Coming Soon;
	font-size: 1em;
	color: #4855A3;
	width: 45%;
	background-color: #7CCCD0;
}
.selectyear {
	border: 1.5px solid #ccc;
	font-family: Coming Soon;
	font-size: 1em;
	width: 50%;
	color: #4855A3;
	margin-left: 10px;
	background-color: #7CCCD0;
}
option {
	font-family: rockwell;
	color:#330F36;
}
@media screen and (max-width: 805px) {
.selectyear{
	width:48%;
	}
.selectmonth{
	width:46%;
	}
.billingstate{
	width:48%;
	}
.billingzip{
	width:46%;
	}
.cardnumber{
	width:48%;
	}
.securitycode{
	width:46%;
	}
}
@media screen and (max-width: 375px) {
.selectyear{
	width:100%;
	margin-left: 0px;
	margin-top: 15px;
	}
.selectmonth{
	width:100%;
	}
.billingstate{
	width:100%;
	}
.billingzip{
	width:100%;
	margin-left: 0px;
	margin-top: 15px;
	}
.cardnumber{
	width:100%;
	}
.securitycode{
	width:100%;
	margin-left: 0px;
	margin-top: 15px;
	}
}
@media screen and (max-width: 768px){
.orangeheadline {
	font-size: 1em;
	}
}
.submitbutton {
	border: 1.5px solid #ccc;
	background-color: #7CCCD0;
	width: 280px;
	border-radius: 3.5px;
	font-family: rockwell;
	font-size: 1.2em;
	color:#F15B2A;
	margin-top: 20px;
	margin-bottom: 40px;

}
button:hover {
	color:#330F36;
}

/*thank you page*/
.backgroundthankyou {
	padding-bottom: 66.796875%;
	background-image: url(../img/familypic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 15px;
}

.thanksbox{
	width:45%;
	margin-top: 15px;
	margin-bottom: 50px;
	background-color: #7CCCD0;
	border-radius: 5px;
	margin-left: 35px;
	padding: 15px; 
}
.thankyoupagetitle {
	color:#F15B2A;
	font-family: Coming Soon;
	font-size: 2em;
}
.thankyoupagesubtitle {
	color: white;
	font-family: rockwell;
	font-size:1.25em;
	line-height: 1em;
}
.thankyoupic{
	margin-top:50px;
	margin-bottom: 50px;
}
.orangethank{
	margin-top: 10px;
	font-family: rockwell;
	font-size: 1.2em;
	color:#F15B2A;
}
.socialmedia2{
	width: 145px;
	padding-bottom: 15px;
	padding-top: 15px;
}
@media screen and (max-width: 768px) {
.backgroundthankyou{
	padding: 15px;
	height: 950px;
	}
.thankyoupagetitle{
	font-size: 1.85em;
	}
.thankyoupagesubtitle {
	font-size: 1.12em;
	}
.thanksbox{
	width:92%;
	margin-top: 10px;
	}
.orangethank{
	margin-top: 12px;
	font-size: 1.12em;
	}
.socialmedia2{
	padding-bottom: 10px;
	padding-top: 12px;
	}
.bluelink {
	font-size: 1.12em;
	}
}
@media screen and (max-width: 375px) {
.thanksbox{
	width:92%;
	margin-top: 10px;
}
.thankyoupic{
	margin-bottom: 10px;
}
.thankyoupagetitle{
	font-size: 1.5em;
	}
.thankyoupagesubtitle {
	font-size: 1em;
	}
.orangethank{
	margin-top: 12px;
	font-size: 1.12em;
	}
.socialmedia2{
	padding-bottom: 10px;
	padding-top: 12px;
	}
.bluelink {
	font-size: 1.12em;
	}
}	
/*backtotop*/

.backtotop {
	margin-top: 20px;
	margin-bottom: 20px;
}
.purplelink {
	color:#4855A3;
	font-family: Coming Soon;
	font-size: 1.3em;
	text-decoration: none;
}
.bluelink {
	color:#4855A3;
	font-family: rockwell;
	font-weight: lighter;
	line-height: .85em;
}
.bluelink:hover{
	color:#F15B2A;
}

/*footer*/
.footer-wrapper {
	background:#7CCCD0;
	padding: 15px;	
}
.socialmedia{
	width: 145px;
	padding-bottom: 15px;
}
.footer2{
	color: #7CCCD0;
	font-family:'Coming Soon';
	font-size: 1em;
	color:#4855A3;
}
@media screen and (max-width: 768px){
	.footer2{
		font-size:.813em;
	}
}

