#openingheader{
	height: 110px;
	padding-top:63px;
}
.starbucksoutreach-link {
	text-decoration: none;
}
.starbucksoutreach{
	color: #7CCCD0;
	font-family: rockwell;
	font-weight: lighter;
	font-size: 48pt;
	line-height: 40pt;
}
@media screen and (max-width: 767px) {
	#openingheader{
		padding-top:26px;
	}
	.starbucksoutreach{
		font-size: 34pt;
		line-height: 34pt;
	}
	.starbucksoutreach > span {
		display: block;
	}
}
.nav-wrapper, .footer-wrapper {
	background:#7CCCD0
}
#nav1{
	color: #7CCCD0;
	padding:20px;
}
#nav1 a {
	font-family: Coming Soon;
	font-size: 16pt;
	padding-left:25px;
	color:#330F36;
	text-decoration: none;
}
@media screen and (max-width: 767px) {
	#nav1 a {
		font-size: 16pt;
	}
}
.homepagetitle{
	color: white;
	font-family: Coming Soon;
	font-size: 33pt;
	padding-left: 40px;
}
.homepagesubtitle{
	color: #7CCCD0;
	font-family: rockwell;
	font-size: 20pt;
	padding-left: 40px;
}
.backgroundhomepage{
	padding-bottom: 66.796875%;
	background-image: url(../img/familypic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 30px;
	padding-left:10px;
}
.orangeheadline{
	font-family: rockwell;
	color:#F15B2A;
	font-size: 20pt;
	font-weight: bold;
}
.bluedot{
	color:#7CCCD0;
}
.million{
	padding: 10px;
}
p{
	font-family: avenir;
	color: black;
	font-size: 16pt;
}
@media screen and (max-width: 767px) {
	#orangeheadline{
		font-size: 18pt;
	}
	p{
		font-size: 14pt;
	}
}
.infographic{
	padding-top: 30px;
	background-size: cover;
	padding-bottom: 30px;
}
.numbers{
	background-color: white;
	padding: 10px;
}
.manandseeds{
	padding-bottom: 66.796875%;
	background-image: url(../img/manandseeds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 30px;
	padding-left:10px;
}


















.footer{
	padding-top: 25px;
}
.footer2{
	color: #7CCCD0;
	padding-top: 10px;
	padding-bottom:25px;
	font-family: Coming Soon;
	font-size: 12pt;
	color:#330F36;
}
@media screen and (max-width: 767px) {
	#nav1 a{
		font-size: 12pt;
		padding:5px;
		text-align: left;
	}
	.backgroundhomepage{
		padding-top: 10px;
		padding-left:0px;
	}
	.homepagetitle{
		font-size: 20pt;
		padding-left: 20px;
	}
	.homepagesubtitle{
		font-size: 12pt;
		padding-left: 20px;
	}
	.footer2{
		font-size:10pt;
	}
}

