/*home page*/

#openingheader{
	height: 110px;
	padding-top:63px;
}
.starbucksoutreach-link {
	text-decoration: none;
}
.starbucksoutreach{
	color: #7CCCD0;
	font-family: rockwell;
	font-weight: lighter;
	font-size: 4em;
	line-height: 40pt;
}
@media screen and (max-width: 767px) {
	#openingheader{
		padding-top:28px;
	}
	.starbucksoutreach{
		font-size: 2.75em;
		line-height: 34pt;
	}
	.starbucksoutreach > span {
		display: block;
	}
}
.nav-wrapper, .footer-wrapper {
	background:#7CCCD0
}
#nav1{
	color: #7CCCD0;
	padding:20px;
}
#nav1 a {
	font-family: Coming Soon;
	font-size: 1.3em;
	color:#330F36;
	text-decoration: none;
}
@media screen and (max-width: 767px) {
	#nav1 a {
		font-size: 1em;
	}
}
.homepagetitle{
	color: white;
	font-family: Coming Soon;
	font-size: 2.75em;
}
.homepagesubtitle{
	color: #7CCCD0;
	font-family: rockwell;
	font-size: 1.6em;
}
.backgroundhomepage{
	padding-bottom: 66.796875%;
	background-image: url(../img/familypic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 30px;
}
@media screen and (max-width: 767px) {
	.backgroundhomepage{
		padding-top: 10px;
	}
	.homepagetitle{
		font-size: 1.5em;
	}
	.homepagesubtitle{
		font-size: 1em;
		font-weight: regular;
	}
}

/*our story page*/


.orangeheadline{
	font-family: rockwell;
	color:#F15B2A;
	font-size: 1.6em;
	font-weight: bold;
}
.bluedot {
	list-style: none;
	position: relative;
}
.bluedot:before {
	content: '•';
	color:#7CCCD0;
	position: absolute;
	left: -25px;
}
.million{
	padding: 10px;
}
p, ul{
	font-family: avenir;
	color: black;
	font-size: 1.188em;
}
@media screen and (max-width: 767px) {
	#orangeheadline{
		font-size: 1.500em;
	}
	p{
		font-size: 1.188em;
	}
}
.infographic{
	padding-top: 30px;
	background-size: cover;
	padding-bottom: 30px;
}
.numbers{
	background-color: white;
}
.numbers {
	position: relative;
}
.manandseeds{
	padding-bottom: 66.796875%;
	background-image: url(../img/manandseeds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.manandseeds{
		position: absolute;
		top: 0;
		bottom: 0;
	}
}
.numbers-content {
	background: rgba(255,255,255,.8);
	padding: 15px;
}

/*what is happening to our trees? page*/


@media screen and (max-width: 767px) {
	.rustpics{
		padding-bottom: 10px;
	}
}


/* Responsive iframe for all types of media use 'iframe-responsive' */
/* Responsive youtube video embed 'video-responsive' class is wrapper for youtube iframe */
.video-responsive {
	height: 0;
	padding-bottom: 100%;
	position: relative;
}
/* set the iframe to the same width / height as it's fluid parent container */
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100% !important;
}
/* sizing */
.video-16x9, .video-responsive {
	padding-bottom: 56.25%; /* 16:9 ratio */
}



/*donate now page*/


.backgroundform{
	padding-bottom: 66.796875%;
	background-image: url(../img/formpic1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 30px;
}
@media screen and (max-width: 767px) {
	.backgroundform {
		padding-top: 10px;
	}
}

.formheadline {
	font-family: rockwell;
	font-weight: lighter;
	font-size: 1em;
	color: #F15B2A;
}

.formtext .input {
	font-family: 'Coming Soon';
	font-size: 1em;
	color: #330E36;
}

.input {
	width: 350px;
}


/*thank you page*/







/*footer*/
.footer-wrapper{
	padding-top: 25px;
}
.socialmedia{
	background-size: 50%;
}
.footer2 {
	color: #7CCCD0;
	padding-top: 10px;
	padding-bottom:25px;
	font-family: 'Coming Soon';
	font-size: 1em;
	color:#330F36;
}
@media screen and (max-width: 767px) {
	.footer2{
		font-size:.813em;
	}
}

